<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-title>
      Курс евро
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md = "6" offset-md = "3">
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item color = "success">
                <ion-label>Данные актуальны на {{time}}</ion-label>
                <ion-button (click) = "changeSource()"><ion-icon name="swap-horizontal-outline"></ion-icon></ion-button>
              </ion-item>
              <ion-item *ngIf = "showJSON">
                <h1 *ngIf = "jsonEuro">Курс евро (JSON): {{jsonEuro}}</h1>
              </ion-item>
              <ion-item *ngIf = "showXml">
                <h1 *ngIf = "xmlEuro">Курс евро (XML): {{xmlEuro}}</h1>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>